## Task 1

1. **Basic Data Exploration**: Identify the number of rows and columns in the dataset, determine the data types of each column, and check for missing values in each column.

In [38]:
import pandas as pd

df = pd.read_csv("Salaries.csv", sep=",")

df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [47]:
df.dtypes #Display the data types of each column

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [48]:
df.isnull().sum() #Check on each column the sum of missing values

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Notes               0
Agency              0
Status              0
dtype: int64

# Task 2

2. **Descriptive Statistics**: Calculate basic statistics mean, median, mode, minimum, and maximum salary, determine the range of salaries, and find the standard deviation.

In [13]:
# Calculate the mean salaries using mean
mean_salary = df['TotalPayBenefits'].mean()
print("mean salaries : ", mean_salary)

# Calculate the median salary using median
median_salary = df['TotalPayBenefits'].median()
print("median salaries : ",median_salary)

# Calculate the mode
mode_salary = df['TotalPayBenefits'].mode()[0] #We can display only one or display all of them as a list if we have mores than one
print("mode salaries : ",mode_salary)
mode_salary = df['TotalPayBenefits'].mode()
modes_list = mode_salary.tolist() #Convert the result into a list
print("Modes:", modes_list)

# Calculate the minimum
min_salary = df['TotalPayBenefits'].min()
print("minimum salaries : ",min_salary)

# Calculate the maximum
max_salary = df['TotalPayBenefits'].max()
print("maximum salaries : ",max_salary)

# Calculate the rang
range_salary = max_salary - min_salary
print("range of salaries : ",range_salary)

# Calculate the deviation using std
std_deviation = df['TotalPayBenefits'].std()
print("deviation : ",std_deviation)

mean salaries :  93692.55481056681
median salaries :  92404.09
mode salaries :  7959.18
Modes: [7959.18]
minimum salaries :  -618.13
maximum salaries :  567595.43
range of salaries :  568213.56
deviation :  62793.533483237705

# Task 3

3. **Data Cleaning**: Handle missing data by suitable method with explain why you use it.

In [ ]:
#Replace NaN by Employee to give all of them an Employee status if we want to add extern or others status in the future
df['Status'].fillna("Employee", inplace=True)

In [46]:
#Replace all NaN BasePay, Benefits, Notes, OtherPay and OvertimePay with 0.00 as they have a float type
df['BasePay'].fillna(0.00, inplace=True)
df['Benefits'].fillna(0.00, inplace=True)
df['OtherPay'].fillna(0.00, inplace=True)
df['OvertimePay'].fillna(0.00, inplace=True)